doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/style.css')
    //- link(rel='stylesheet', href='/styles/main.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/4p.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/css?family=Comfortaa:400,700" rel="stylesheet")

  body
    block header
      header.top
        .wrapper
          nav.nav
            .nav-section#menu
              each item in h.menu
                a.nav-section-item(href=item.slug, class=(currentPath.startsWith(item.slug) ? 'nav-section-item-active' : ''))
                  span #{item.title}
            .nav-section#logo
              a.nav-section-logo(href="/")
                h1 4Poll
            .nav-section#user
              if user
                a.nav-section-item(href=`/user/${user._id}`, class=(currentPath.startsWith(`/user/${user._id}`) ? 'nav-section-item-active' : ''))
                  img.avatar(src=user.gravatar + '&d=retro')
                  //- p= user.name
                a.nav-section-item(href="/logout", class=(currentPath.startsWith('/logout') ? 'nav-section-item-active' : ''))
                  span 👋 Logout
              else
                a.nav-section-item(href="/register", class=(currentPath.startsWith('/register') ? 'nav-section-item-active' : '')) 🖊️ Register
                a.nav-section-item(href="/login", class=(currentPath.startsWith('/login') ? 'nav-section-item-active' : '')) 🔐 Log In

    block messages
      if locals.flashes
        .wrapper
          .inner
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
    
    .content
      .wrapper
        block content
    
    block footer
      footer
        .wrapper
          p 4Poll - A voting app for fcc

    block scripts
      script(src="/dist/App.bundle.js")
      script(async src="https://platform.twitter.com/widgets.js" charset="utf-8")