extends layout

block content
    .poll(data-pollid=`${poll._id}`)
        //- pre= h.dump(poll)
        h1= title
        p Created by #[a(href=`/user/${poll.author._id}`) #{poll.author.name}] #{h.moment(poll.created).fromNow()}
        a(href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="Hey, I just voted in this poll:" data-hashtags="freeCodeCamp" data-show-count="false") Tweet
        p <span class="total-votes">#{poll.total}</span> votes so far
        //- voting options
        form.vote(method="POST" action=`/polls/${poll.slug}/vote/`)
            each opt in poll.options
                button(type="submit" name="chosen" value=`${opt['_id']}`)
                    span #{opt['option']}
        //- and here is the results chart
        p These are the results:
        .resulting-canvas
            canvas(id="results-chart" width="400" height="100")