mixin pollCardUser(poll = {})
    .poll-card(id=`poll-id-${poll._id}`)
        .poll-title
            h2
                a(href=`/polls/${poll.slug}`) #{poll.name}
            p.created Created #{h.moment(poll.created).fromNow()}
        .poll-details
            p <strong>Results</strong> (total: #{poll.total} votes):
                ul
                    each opt in poll.options
                        li #{opt.option}, #{opt.votes}
            .delete-form.delete-conf
                p You can delete this poll
                button.delete-first(type="submit" value=`${poll._id}`)
                    p 💣 Click to delete it
            .delete-form.delete-main.hidden
                p <strong>Are you sure?</strong>
                button.delete-cancel(type="submit" name="cancel" value=`${poll._id}`)
                    p 🤕 Uh, no. Undo it!
                form.delete(action=`/user/${user._id}/delete` method="POST")
                    button(type="submit" name="delete" value=`${poll._id}`)
                        p 💣 Yes, delete!